[Unit]
Description=Server Wait On Clients Daemon
Documentation=man:swocserverd(8)
After=network.target


[Service]
Type=forking
PIDFile=/var/run/swocserverd.pid
ExecStart=/usr/sbin/swocserverd
ExecReload=/usr/sbin/swocserver -r
ExecStop=/usr/sbin/swocserver -e
KillMode=process
Restart=on-failure

PrivateDevices=true
PrivateTmp=true
ProtectHome=true
# Enable the line below for distro packages. For pure AT it must have access to
# /usr/local/var/run to write it's pid file.
ProtectSystem=full


[Install]
WantedBy=multi-user.target
