[Unit]
Description=Server Wait On Clients Daemon
Documentation=man:swocserverd(8)
After=network.target

[Service]
Type=forking
PIDFile=/var/run/swocserverd.pid
ExecStart=/usr/sbin/swocserverd
ExecReload=/usr/sbin/swocserver -r
ExecStop=/usr/sbin/swocserver -e
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
